  table {
            border-collapse: collapse;
            width: 100%;
            margin: 10px 0;
        }
     
        /* Specific style for black background with white text */
        .HTML {
            background-color: black;
            color: white;
			align:center;
        }

td,tr {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
        }